.pink-footer-contacts__element {
    list-style: none;
}

.pink-footer__subtitle {
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
    color: #283645;
    width: 229px;
}

.pink-footer-contacts__call {
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    color: #283645;
}

.pink-footer-contacts__phone-number {
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
    color: #d22856;
    text-decoration: none;
}

.pink-footer-contacts__text {
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    color: #283645;
}

.pink-footer-contacts__email {
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
    color: #d22856;
    text-decoration: none;
}

.pink-footer-contacts__come {
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    color: #283645;
}

.pink-footer-contacts__address {
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
    color: #d22856;
    text-decoration: none;
}
.pink-footer__white-background{
    background-color: white;
}