  /*OpenSans regular*/
  @font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
      url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /*OpenSans bold*/
  @font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
      url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
  }